#alert {
    text-align: center !important;
    display: flex !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 100 !important;
    align-items: center !important;
    justify-content: center !important;
}

.closealert {
    margin-right: 10px;
    margin-left: 10px;
    color: #6f231c;
    font-weight: 900 !important;
    font-size: 20px !important;
    cursor: pointer;

}

body a {
    text-decoration: unset !important;
    color: unset !important;
}

#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.42);
    z-index: 1000000;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#loader img {
    max-width: 100%;
}

/* payment */
.backtocart {
    font-size: 12px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    color: #505055 !important;
}

.backtocart:hover {
    color: #001e44 !important;
}

#paymentpart span {
    direction: rtl !important;

}

/* profile */
.cancelchange {
    display: none;
    background: #8b2c23!important;
    border: none!important;
    box-shadow: none;
}

#change{
    display: none;
}
