.simple-slider_V .swiper-slide_V {
  /*height: 500px;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider_V .swiper-button-next_V, .simple-slider_V .swiper-button-prev_V {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider_V .swiper-button-next_V, .simple-slider_V .swiper-button-prev_V {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider_V .swiper-slide_V {
    height: 360px;
  }
}

