.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  /*width: 50px;*/
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

